@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    padding: 5px;
    text-align: center;
  }
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar h1 {
    color: #f1356d;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    padding: 10px 16px;
  }
  .navbar .links {
    margin-left: auto;
  } 
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #f1356d;
  } 
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

  /* blog previews / list */

  .artist-list {
    text-align: center;
  }
.artist-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    text-align: center;
  }
  .artist-preview:hover {
    background-color: #FAE0E4;
    border-radius: 14px;
  }
  .artist-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }

  .artist-preview img {
    border-radius: 15px;
    height: 200px;
  }
  
  /* Nav */

  nav a{
    font-size: 25px;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
  }

  nav a:hover {
    color:#f1356d
  }


/* random page */
.random h2 {
  color:#f1356d;
}

.random button {
  padding: 10px 25px;
  margin: 10px 10px;
}
